# Build directories
build/
cpp_extension/build/
cpp_extension/fast_collision.egg-info/
star-robot-env/
STAR/**
!STAR/README.md

legacy/cpp_extension/build/           
legacy/cpp_extension/*.egg-info/      
bone_collision/cpp_extension/build/     
bone_collision/cpp_extension/*.egg-info/  

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Compiled C++ files
*.o
*.so
*.a
*.exe

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
